

.bg-green {
    background-color: #3e4940;
}

.bg-dark-green {
    background-color: #e2e0d9;
}

/* Une fois connecté → Mise en place du menu permettant de naviguer sur les différentes pages : 
-.btn-menu-side : Boutons déjà présent
.btn-menu-side:hover → Quand on survoles les boutons
*/
.btn-menu-side {
    border-color: #ffeef489;
    border-style: solid;
    border-radius: 50px;
    padding: 12px 25px; 
    background: #3e4940; 
    color: #F0F0D7; 
}

.btn-menu-side:hover {
    box-shadow: 0px 6px 12px #efefef4d; /* Ombre plus marquée */
    background: linear-gradient(45deg, #E4E4D0, #FFEEF4); /* Dégradé plus foncé */
    color: rgb(0, 0, 0); 
}


footer > h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: aliceblue;
}
footer a {
    text-decoration: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.image {
    height: 6rem;
}

.card-style {
    border-radius: 15px;
}

.panel {
    background-color: rgb(18, 8, 206);
}
