html,body{
    width: 100%;
    height: 100%;
}
footer {
    background-color: #474747;
    border-color: rgb(240, 238, 238);
   
}
footer > h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: aliceblue;
}
footer a {
    text-decoration: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.image {
    height: 6rem;
}

.card-style {
    border-radius: 15px;
}

.panel {
    background-color: rgb(18, 8, 206);
}
